<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470761623054-lrbuuh9sjmkk0th74dss3brgkuf5279q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470761623054-lrbuuh9sjmkk0th74dss3brgkuf5279q</string>
	<key>API_KEY</key>
	<string>AIzaSyDlq_P2r9-nKj5N2suIfIB7pt8UPiTQ9iw</string>
	<key>GCM_SENDER_ID</key>
	<string>470761623054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.pixolity.firstApp</string>
	<key>PROJECT_ID</key>
	<string>barsbek-loh</string>
	<key>STORAGE_BUCKET</key>
	<string>barsbek-loh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470761623054:ios:82d3907694c20418bab65f</string>
</dict>
</plist>